{% extends 'navbar.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'glassstyles.css' %}">

    <div class="glass-container">
        <h2 style="color:white;text-align:center;font-weight:700;">Abhyuday 8.0</h2><hr/>

{% for department in departments_with_objectives %}
    <div class="department">    
        <h2 class="dep">{{ department.team }}</h2>
        <ul>
            {% for line in department.objectives %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %} 

    </div>
    {% endblock %}
